<div class="info-container">
    <div class="info-form"> <!-- aplicar display flex no form abaixo -->
      <form>
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="Last Name" />
        <input type="text" placeholder="me@place.com" />
      </form>
    </div>
    
    <div class="info-pic">
      <a href="#"><img src=""/></a>
    </div>
    
    <div>
      <button type="button">Save</button>
      <button type="button">Cancel</button>
    </div>
  </div>